$red: #FD1015;
$blue: #5089C6;
$yellow: #F1D00A;
$orange: #FFAA4C;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

.yellow {
color: $yellow;
}

.orange {
  color: $orange;
  }
.blue {
  color: $blue;
}

.light-gray {
  color: $light-gray;
}
