<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="h2 my-3 d-flex justify-content-center">My favorite stories</h1>
      <%= @favorites.each do |favorite| %>
      <div class="card-body">
        <img src="..." class="card-img-top" alt="...">
        <h5 class="card-title">Card title</h5>
      </div>
      <% end %>
    </div>
      <%= button_to "back to list", favorites_path %>
  </div>
</div>
