// Specific CSS for your home-page

body {
  background-image: url("https://res.cloudinary.com/ddd2hwkfz/image/upload/v1680194513/7_epe8pm.png");
  background-size: center;
}

a {
  text-decoration: none;
  font-size: 15px;
}
