// Import page-specific CSS files here.
@import "home";
@import "profile";

body {
  background-image: url("background.png");
  height: 100vh;
  width: 100vw;
}

h1 {
  overflow-y: scroll;
  margin: auto;
  margin-top: 15px;
  text-align:center;
  color: #FFAA4C;
}

.cards-index {
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  margin: 20px;
  padding: 20px;
  background-color: whitesmoke;
}

.card-img-top {
  box-shadow: 1px 1px 2px darkgrey;
}

.cards-index h3 {
  margin-top: 0;
}

#picturesize {
  object-fit: cover;
  margin-bottom: 20px;
}

.cards-index p.summaryp {
  font-size: 14px;
  line-height: 1.5;
}

.cards-index p {
  font-size: 16px;
  line-height: 1.5;
  color: black ;
}

#sum-container {
  background-color: #FFF2CC;
  color: white;
  font-size: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 1px;
  box-shadow: 1px 1px 2px darkgrey;
}


.cards-index a {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #FFAA4C;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 1px 1px 2px darkgrey;
}

.cards-index a:hover {
  background-color: #FFAA4C;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
