// Import page-specific CSS files here.
@import "home";
@import "profile";

body {
  background-image: url("background.png");
  height: 100vh;
  width: 100vw;
}

.index-card-container {
  padding-top: 16vh;
  padding-bottom: 8vh;
}

h1 {
  overflow-y: scroll;
  margin: auto;
  margin-top: 15px;
  text-align:center;
  color: #FFAA4C;
}

.cards-index {
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  margin: 20px;
  padding: 20px;
  background-color: whitesmoke;
}

.card-img-top {
  box-shadow: 1px 1px 2px darkgrey;
}

.cards-index h3 {
  margin-top: 0;
}

#picturesize {
  object-fit: cover;
  margin-bottom: 20px;
}

.cards-index p.summaryp {
  font-size: 14px;
  line-height: 1.5;
}

.cards-index p {
  font-size: 16px;
  line-height: 1.5;
  color: black ;
}

#sum-container {
  background-color: #FFF2CC;
  color: white;
  font-size: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 1px;
  box-shadow: 1px 1px 2px darkgrey;
}


.cards-index a {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #FFAA4C;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 1px 1px 2px darkgrey;
}

.cards-index a:hover {
  background-color: #FFAA4C;
}














.audio-card {
  background: white;
  width: 92%;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  margin-bottom: 25px;
}

.audio-card__image {
  position: relative;
  height: 200px;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.audio-card__image--background {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.audio-card__unit-name {
  font-size: 35px;
  color: $orange;
  font-weight: 900;
  font-family: 'Send Flowers', cursive;
}

.audio-card__unit-description {
  padding: 10px;
  margin-bottom: 10px;
}

.audio-card__unit-stats {

  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-top: 10px;

  .one-third {
    width: 33.3%;
    float: left;
    padding: 15px 15px;
    border-right: 1px solid lightgray;
    background: $orange;
  }

  .bottom-left {
    border-bottom-left-radius: 14px;
  }

  .stat {
    position: relative;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
  }

  .no-border {
    border-right: none;
    border-bottom-right-radius: inherit;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

audio {
  width: 95%;
  margin-bottom: 5px;
  margin-top: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #FFF2CC;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
