body {
  background-image: url("https://res.cloudinary.com/ddd2hwkfz/image/upload/v1680194513/7_epe8pm.png");
  background-size: center;
}
.containerprofile {
  margin: 20px;
  text-align: center;
  height: cover;
  background-image: url("https://res.cloudinary.com/ddd2hwkfz/image/upload/v1680194513/7_epe8pm.png");
  background-size: center;
}

.cardsprofile {
  // display: grid;
  // grid-template-columns: 1fr ;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  min-height: 12vh;
}

.card-category-profile {
  color: #3E497A;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-category-profile p {
 margin-right: 50px;
}
#carditoDropdown {
  width: 38%;
  margin-left: -60px;
}

.linkstory {
  text-decoration: none;
  color: #3E497A;
}

.destroybtn {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
  background-color: #fff2cc;
}

#editbutton {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
  background-color: #fff2cc;
}

li.list-group-item.d-flex.justify-content-between.align-items-start {
  background-color: transparent;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
