body {
  background-image: url("backgroundmorestars.png");
  background-size: cover;
}
.containerprofile {
  // margin: 20px;
  text-align: center;
  height: cover;
  background-color: transparent;
  background-size: center;
  font-family: 'Short Stack', cursive;
}

.cardsprofile {
  // display: grid;
  // grid-template-columns: 1fr ;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  min-height: 12vh;
  border-radius: 5px;
  padding-top: 139px;
}

#creation {
  background: #FFF2CC;
  font-family: 'Short Stack', cursive;
}

.card-category-profile {
  color: #035397;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}


.card-category-profile p {
  margin-top: 10px;
}

.card-category-profile-first {
border-radius: 5px;
}

.card-category-profile-last {
  margin-top: -40px;
}


#carditoDropdown {
  width: 38%;
}


.linkstory {
  text-decoration: none;
  color: #035397;
}

.linknewstory{
  color:#FFAA4C;
  margin-left: -1px;
  margin-bottom: -55px;
  font-weight: bold;
  font-size: 16px;
}

.btnpage {
    background-color: #F1D00A!important;
}


.destroybtn {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
  background-color: #fff2cc;
  border: 1px solid #FFAA4C;
  border-radius: 150px;
}

#editbutton {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
  background-color: #fff2cc;
  border: 1px solid #FFAA4C;
  margin-right: 3%;
  border-radius: 150px;
}

#pageretour {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

li.list-group-item.d-flex.justify-content-between.align-items-start {
  background-color: transparent;
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #ace;
}
.icon {
	background-color: transparent;
	border: 0;
	color: #557eef;
	cursor: pointer;
	display: block;
	font-size: 20px;
	margin: 3em auto 0 auto;
	position: relative;
	width: 9em;
	height: 9em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.icon:focus {
	/* This may be anti-A11Y, but just for this demo suppresses the annoyance */
	outline: 0;
}
.icon div {
	position: absolute;
}

.cloud {
  top: 0;
  width: 9em;
  height: 5.8em;

}

.pulse-button {
 height: 20px;
 width: 20px;
 justify-content: center;
 transform: scale(1);
 animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
   transform: scale(0.95);
  }

  70% {
   transform: scale(1);
  }

  100% {
   transform: scale(0.95);
  }
 }
/* Cloud */
.puff, .cloud-core {
  background-color: #fff;

}
.puff {
	border-radius: 50%;

}
.puff-1 {
	top: 2.5em;
	left: 0;
	width: 3.3em;
	height: 3.3em;

}
.puff-2 {
	top: 1em;
	left: 1.2em;
	width: 3em;
	height: 3em;

}
.puff-3 {
	top: 0;
	left: 3em;
	width: 4.6em;
	height: 4.6em;

}
.puff-4 {
  top: 1.8em;
	left: 5em;
	width: 4em;
	height: 4em;

}
.puff-5 {
	top: 2.3em;
	left: 2.4em;
	width: 3.5em;
	height: 3.5em;

}
.puff-6 {
	top: 2.3em;
	left: 3em;
	width: 3.5em;
	height: 3.5em;

}
.puff-7 {
	top: 2.4em;
	left: 1em;
	width: 1.8em;
	height: 1.8em;

}
.puff-8 {
	top: 1.2em;
	left: 2.5em;
	width: 2em;
	height: 2em;

}
.puff-9 {
	top: 1.8em;
	left: 5.5em;
	width: 2em;
	height: 2em;

}
.puff-10 {
  top: 3.6em;
	left: 3.5em;
	width: 2.2em;
	height: 2.2em;

}
.cloud-core {
  top: 1.8em;
	left: 1.8em;
	width: 5.5em;
	height: 4em;

}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
