<div class="container">

  <h1>Profile page</h1>

  <div>
    <%# Favoris %>
  </div>

  <div>
    <%# Historique %>
  </div>

  <div>
    <%# Mes histoires %>
  </div>

  <div>
    <%# ??? %>
  </div>

<%= link_to "Back to homepage", home_path %>

</div>
