<div class="container">

  <h1>Profile page</h1>

  <div>
    <%# Favoris %>
  </div>

  <div>
    <%# Historique %>
  </div>

  <div>
    <%# Mes histoires (que j'ai créées)%>
  </div>

  <div>
    <%# Créer une histoire %>
  </div>

<%= link_to "Back to homepage", home_path %>

</div>
