<div class="container">

  <h1>Profile page</h1>

  <div>
    <%# Favoris %>
  </div>

  <div>
    <%# Historique: si on le garde penser à créer la route,
    si on ne le garde pas penser à supprimer l'action dans le ctrller Users et la view%>
    <%# <%= link_to "Historique", records_path %>
  </div>

  <div>
    <%# Mes histoires (que j'ai créées)%>
  </div>

  <div>
    <%# Créer une histoire %>
  </div>

  <%= link_to "Back to homepage", home_path %>

</div>
