<h1> Mes histoires</h1>

<% @stories.each do |story| %>
  <h3 style="color:orange"> <%= story.title %> </h3>
  <p> <%= story.summary %> </p>
  <p> Note: <%= story.rating %> </p>
  <% word_count = 0 %>
    <% story.content.each_char do |word| %>
      <% word_count += 1 %>
    <% end %>
      <% word_count/5 %>
    <% if word_count <= 650 %>
      <% story_length = story.length = "5 minutes ou moins" %>
    <% elsif word_count = 651..1300 %>
      <% story_length = story.length = "5 à 10 minutes" %>
    <% elsif word_count = 1301..1950 %>
      <% story_length = story.length = "10 à 15 minutes" %>
    <% elsif word_count = 1951..2600 %>
      <% story_length = story.length = "15 à 20 minutes" %>
    <% elsif word_count >= 2600 %>
      <% story_length = story.length = "20 minutes ou plus" %>
    <% end %>
  <p> Durée: <%= story_length %> </p>
<% end %>
