<footer>
    <ul>
      <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="/stories"><i class="fa-solid fa-book"></i></a></li>
      <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
    </ul>
</footer>
