<% stories.each do |story| %>
<div class="autocomplete_result d-flex">
  <div class="testtaille">
    <% if story.photo.attached? %>
      <%= cl_image_tag story.photo.key, crop: :pad, class:"autocomplete_vignette", style:"height: 59px; width: 60px;"  %>
    <% else %>
      <img id="" class="autocomplete_vignette" style="height: 59px; width: 60px;" src="https://i.pinimg.com/originals/3e/7f/51/3e7f5183864ccbb40d4d68e06dd779b0.jpg">
    <% end %>
  </div>
  <div class="test2taille">
      <a class="autocomplete_story" href="/stories/<%=story.id%>"><%=story.title%></a>
  </div>
</div>
<% end %>
