.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  align-items: center;
}
.navbar-lewagon .navbar-collapse p{
  margin-right: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin: auto;
}

.navbar-lewagon .navbar-brand {
  height: 100%;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
