
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
}

.menu-item {
  position: relative;
}

.menu-item a {
  display: block;
  // padding: 12px 24px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
}

.submenu {
position: absolute;
bottom: 100%;
left: 0;
list-style: none;
}

.submenu li a {
  padding: 12px 24px;
  color: #333;
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #333;
}

.menu-item .ouvert .submenu {
display: block;
}

#decouvrir {
position: fixed;
z-index: 999;
bottom: 50px;
border-radius: 10px;
border-bottom-right-radius: 0 !important;
border-bottom-left-radius: 0 !important;
color: #FFAA4C;
padding: 10px;
border-radius: 10px;
border: none;
text-align: center;
background: radial-gradient( #035397, #5089C6);
padding-left: 40px;
padding-right: 40px;
padding-top: 12px;
padding-bottom: 12px;
box-shadow: 2px 2px 6px darkgrey;
font-size: 1.2rem;
}

.fa-cloud-moon {
  color: #FFAA4C;
}

#btn-decouvrir {
justify-content: center;
width: 100%;
display: flex;
margin-top: 50px;
}

.btn-category {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background: radial-gradient( #035397, #5089C6);
  color: #FFAA4C;
  margin-left: 15px;
  border: none;
  padding: 5px;
  box-shadow: 2px 2px 2px darkgrey;
}

.search-submit {

  background: radial-gradient( #035397, #5089C6);
  color: #FFAA4C;
  margin-left: 15px;
}

.form-search {
  border-radius: 10px;
  background-image: url("search-background.png");
  position: fixed;
  z-index: 998;
  bottom: 50;
  top: 0;
  left: 0;
  right: 0;
  float: center;
  height: 100vh;
  justify-content: center;
  margin-top: 110px;
  margin-left: 10px;
  margin-right: 10px;
}

#search-window {
  position: fixed;
  display: flex;
  text-align: left;
  align-content: center;
  margin: 50px;
}

.check_box_tag {
  position: absolute;
  transform: scale(0);
}

.check_box_tag + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.check_box_tag:checked + label {
  background-color: #7E73FF;
  color: white;
}

.option-btn {
  display: inline-block !important;
}

.option-tag {
  position: absolute !important;
  transform: scale(0) !important;
}

.option-tag.option-label {
  cursor: pointer !important;
  display: inline-block !important;
  font-size: 0.7rem !important;
  border-radius: 50rem !important;
  padding: 0.1rem 0.5rem !important;
  background-color: #ECEAFF !important;
  color: #7E73FF !important;
  border: 1px solid #7E73FF !important;
  margin-right: 0.6rem !important;
  margin-bottom: 0.4rem !important;
}

.option-tag:checked.option-label {
  background-color: #7E73FF !important;
  color: white !important;
}

// .tag-selector {
//   position: absolute;
//   transform: scale(0);
// }

// .tag-selector + label {
//   cursor: pointer;
//   display: inline-block;
//   font-size: 0.7rem;
//   border-radius: 50rem;
//   padding: 0.1rem 0.5rem;
//   background-color: #ECEAFF;
//   color: #7E73FF;
//   border: 1px solid #7E73FF;
//   margin-right: 0.6rem;
//   margin-bottom: 0.4rem;
// }

// .tag-selector:checked + label {
//   background-color: #7E73FF;
//   color: white;
// }
