#index-h1 {
  margin-top: 15px;
  color: #FFAA4C;
}

.index-card-container .cards-index{
 border: solid 3px whitesmoke;
 background-color: #FFF2CC !important;
}

.index-card-container .card-img-top {
  box-shadow: 3px 3px 3px darkgrey;
}

#sum-container {
  background-color: #035397;
  color: white !important;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 1px;
  box-shadow: 2px 2px 2px darkgrey;
}

.summaryp {
  color: white;
}

.index-tags {
  color: black !important;
}

.lire-histoire {
  box-shadow: 2px 2px 2px darkgrey;
}
